# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/*
/[Tt]emp/*
/[Oo]bj/*
/[Bb]uild/*
/[Bb]uilds/*
/[Ll]ogs/*
2020GlobalGameJam.sln
Assembly-CSharp.csproj
.vs/2020GlobalGameJam/v15/Server/sqlite3/db.lock
.vs/2020GlobalGameJam/v15/Server/sqlite3/storage.ide
.vs/2020GlobalGameJam/v15/Server/sqlite3/storage.ide-shm
.vs/2020GlobalGameJam/v15/Server/sqlite3/storage.ide-wal
2020GlobalGameJam.sln
Assembly-CSharp.csproj
.vs/2020GlobalGameJam/v15/.suo
.idea/.idea.2020GlobalGameJam/.idea/contentModel.xml
.idea/.idea.2020GlobalGameJam/.idea/encodings.xml
.idea/.idea.2020GlobalGameJam/.idea/indexLayout.xml
.idea/.idea.2020GlobalGameJam/.idea/modules.xml
.idea/.idea.2020GlobalGameJam/.idea/projectSettingsUpdater.xml
.idea/.idea.2020GlobalGameJam/.idea/workspace.xml
.idea/.idea.2020GlobalGameJam/riderModule.iml
Assembly-CSharp.csproj
Assembly-CSharp.csproj.meta
Assembly-CSharp.csproj
Assembly-CSharp.csproj
