# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/*
/[Tt]emp/*
/[Oo]bj/*
/[Bb]uild/*
/[Bb]uilds/*
/[Ll]ogs/*
2020GlobalGameJam.sln
Assembly-CSharp.csproj
.vs/2020GlobalGameJam/v15/Server/sqlite3/db.lock
.vs/2020GlobalGameJam/v15/Server/sqlite3/storage.ide
.vs/2020GlobalGameJam/v15/Server/sqlite3/storage.ide-shm
.vs/2020GlobalGameJam/v15/Server/sqlite3/storage.ide-wal
2020GlobalGameJam.sln
Assembly-CSharp.csproj
